div {
  border: 1px solid red;
}

.header1 {
  height: 50px;
  width: 40%;
  display: inline-block;
}
.header2 {
  color: blue;
  height: 50px;
  width: 16%;
  display: inline-block;
}
.header3 {
  height: 50px;
  width: 40%;
  display: inline-block;
}

.bodydiv1 {
  width: 25%;
  display: inline-block;
  background-color: skyblue;
}
.bodydiv2 {
  width: 47%;
  display: inline-block;
}
.bodydiv3 {
  width: 25%;
  display: inline-block;
}
